<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
</head>
<body>

<h1>Productos</h1>

<a href="/productos/nuevo">Nuevo Producto</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
    </tr>

    <tr th:each="p : ${listaProductos}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nombre}"></td>
        <td th:text="${p.precio}"></td>
        <td th:text="${p.stock}"></td>
    </tr>

</table>

</body>
</html>